{% from 'macros.html' import render_head_area, render_pagination %}
{% from 'admin/macros.html' import render_blog_list%}

{% extends "base.html" %}
{% block title %}博客列表{% endblock %}


{% block jumbotron %}
{{ render_head_area(admin, '', url_for('static', filename='img/logo.png')) }}
{% endblock %}

{% block body%}
<div class="container">
    <h3>博客列表</h3>
        {% if pagination.items | length == 0 %}
            <h4>没有用户</h4>
        {% else %}
            {{ render_blog_list(pagination.items) }}
            {{ render_pagination(pagination, endpoint) }}
        {% endif %}
</div>
{% endblock %}