{% from 'macros.html' import render_head_area, render_pagination, render_form %}
{% from 'dashboard/macros.html' import render_general_field %}

{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}


{% block jumbotron %}
{% include 'dashboard/jumbotron.html' %}
{% endblock %}

{% block body%}
<div class="form_generic">
    <form method="POST" action="{{ endpoint }}" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ render_general_field(form.title) }}
        {{ render_general_field(form.description) }}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">http://65535.me/blog/</div>
            </div>
            <input type="text" class="form-control" id="permanent_link" name="permanent_link" placeholder="永久链接"
                   {% if current_user.blog and current_user.blog.permanent_link %}
                   value="{{ current_user.blog.permanent_link }}"disabled{% endif %}>
        </div>
        {{ form.submit(class_='btn btn-primary btn-block', type='submit') }}
    </form>
</div>
{% endblock %}