{% from 'macros.html' import render_head_area %}
{% from 'table_macros.html' import wrap_item %}
{% from 'dashboard/macros.html' import render_post_list %}
{% extends "base.html" %}
{% block title %}个人中心{% endblock %}


{% block jumbotron %}
{% include 'dashboard/jumbotron.html' %}
{% endblock %}

{% block body%}
<div class="card my-5">
    <h5 class="card-header">最近活动</h5>
    <div class="card-body">
        <ul>
            <li>上次登录IP： {% if user.last_login_ip != None %}{{ user.last_login_ip }}{% else %}没有记录{% endif %}</li>
            <li>上次登录时间： {{ moment(user.last_login_time).format('YYYY-M-D H:m:s') }}</li>
        </ul>
        {{ wrap_item('个人信息', url_for('dashboard.profile_edit', user_id=current_user.id), 'info') }}
        {% if not current_user.blog %}
            {{ wrap_item('创建博客', url_for('dashboard.blog_new'), 'primary') }}
        {% endif %}
    </div>
</div>

{% if current_user.blog %}
<div class="card my-5">
    <h5 class="card-header">最新文章</h5>
    <div class="card-body">
        {% if recent_posts | length == 0 %}
        <h4>没有文章</h4>
        {% else %}
        {{ render_post_list(recent_posts, moment) }}
        {% endif %}
        <div class="row">
            <div class="col-6"></div>
            <div class="col-2">{{ wrap_item('导入文章', url_for('dashboard.post_upload'), 'info', None) }}</div>
            <div class="col-2">{{ wrap_item('发表文章', url_for('dashboard.post_new'), 'info', None) }}</div>
            <div class="col-2">{{ wrap_item('查看全部', url_for('dashboard.post'), 'primary', None) }}</div>
        </div>
    </div>
</div>
{% endif %}

<div class="card my-5">
    <h5 class="card-header">最新通知</h5>
    <div class="card-body">
        {% if recent_notifications | length == 0 %}
        <h2>没有通知</h2>
        {% else %}
        <div class="row">
            {% for notifi in recent_notifications%}
            <div class="col-12">{{notifi.text | long_string_cutter(64) }}</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

<div class="card my-5">
    <h5 class="card-header">最新消息</h5>
    <div class="card-body">
        {% if recent_messages | length == 0 %}
        <h2>没有消息</h2>
        {% else %}
        <div class="row">
            {% for message in recent_messages%}
            <div class="col-8">{{ message.text | long_string_cutter(64) }}</div>
            <div class="col-4">from {{ message.sender.user.nickname | long_string_cutter(10) }}</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
