{% from 'macros.html' import render_head_area %}
{% from 'dashboard/macros.html' import render_post_form %}
{% extends "base.html" %}
{% block title %}发表文章{% endblock %}


{% block jumbotron %}
{{ render_head_area(current_user.nickname, current_user.introduction, url_for('static', filename='img/logo.png'), None) }}
{% endblock %}

{% block body%}
{{ render_post_form(form, url_for('dashboard.post_new')) }}
{% endblock %}

{% block tail_js %}
{{ super() }}
{% from 'md_macros.html' import md_renderer, md_renderer_edit %}
{{ md_renderer() }}
{{ md_renderer_edit() }}
{% endblock %}